
   .h2{
    background-color:lightblue ;  
    }
    .card1,.card2{
    border: 3px outset red;
    padding: 20PX;
    margin:20px;
    width: 400px;
    }
    .parent{
    display:flex;
    flex-direction: row;
    }
    .card1{
    flex:0.1;
    }
    .card2{
    flex:0.8;
    }
    table,tr,th,td{
    border:2px solid;
    
    }